# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.env
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules
build/*
.vs
# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Sentry Config File
.sentryclirc

# firebase
firebase-admin-key.json
functions/

# Sentry Config File
.env.sentry-build-plugin
