.feature-request-modal.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.feature-request-modal .modal-content {
  background-color: #2d2d2d;
  padding: 30px;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #eeeeeeb0;
}

.feature-request-modal .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
}

.feature-request-modal .modal-title {
    color: #eeeeeeb0;
}

.feature-request-modal .modal-body {
    color: #eeeeeeb0;
}

.feature-request-modal .modal-footer {
    border-top: none;
    display: flex;
    justify-content: flex-end;
}

.feature-request-modal .close {
    color: #eeeeeeb0;
    opacity: 0.7;
    font-size: 1.5rem;
    background: transparent;
    border: none;
}
